body {
	color: white !important;
	font-size: 16px;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
	padding: 12px 0;
}

main {
	counter-reset: step-counter;
}

h2 {
	counter-increment: step-counter;
}

h2::before {
	content: counter(step-counter)'.\000A';
}

p {
	margin: 8px 0;
}

textarea {
	padding: 10px;
	border-radius: 8px;
}

textarea[readonly] {
	color: Black;
	background-color: LightGray;
}

@media (max-width: 767px) {
	textarea {
		min-height: 240px;
	}
}
@media (min-width: 768px) and (max-width: 1023px) {
	textarea {
		min-height: 170px;
	}
}
@media (min-width: 1024px) {
	textarea {
		min-height: 145px;
	}
}

button {
	margin: 12px 0;
	padding: 8px;
	border-radius: 8px;
	border-color: #F19567;
	border-width: 3px;
	border-style: solid;
	box-shadow: none;
	cursor: pointer;

	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;

	color: #F19567;
	background-color: transparent;
	transition: color 0.25s;
	-webkit-transition: color 0.25s;
	-moz-transition: color 0.25s;
	-o-transition: color 0.25s;
	transition: border-color 0.25s;
	-webkit-transition: border-color 0.25s;
	-moz-transition: border-color 0.25s;
	-o-transition: border-color 0.25s;
}

button:hover {
	color: #F1D167;
	border-color: #F1D167;
	box-shadow: 0 0 2px;
}

button .fas,
button .far {
	margin-right: 12px;
}

footer {
	position: relative;
	z-index: 2;
}



.theme-background-far {
	background-color: #011327 !important;
}

.theme-background-close {
	background-color: #07305C !important;
}

.theme-base {
	background-color: #1D4F82 !important;
	padding-bottom: 16px;
}


.almu-form-placeholder:not(:first-child) {
	display: hidden;
}

.almu-form-placeholder {
	border-radius: 12px;
	border-color: white;
	border-width: thin;
	border-style: dashed;
	padding: 48px;
}

.almu-vote-form input[type=radio],
.almu-vote-form input[type=checkbox] {
	margin-right: 12px;
}

.almu-vote-form input[type=radio] + label,
.almu-vote-form input[type=checkbox] + label {
	transition: color 0.4s;
	-webkit-transition: color 0.4s;
	-moz-transition: 0.4s;
	-o-transition: 0.4s;
}

.almu-vote-form div:hover:not(.almu-form-placeholder) {
	color: #F1D167;
}

.almu-vote-form div:not(:hover) input[type=radio]:checked + label,
.almu-vote-form div:not(:hover) input[type=checkbox]:checked + label {
	color: #F19567;
}

.almu-vote-form div:not(.almu-form-placeholder) {
	margin: 12px 0;
}
