div.section {
  position: relative;
  border: 1px solid;
  margin: 1.5em 0 1em 0;
  padding: 0.5em 0.7em 0 0.7em;
}

div.section h2 {
  display: inline;
  position: absolute;
  top: -0.7em;
  left: 0.5em;
  margin: 0;
  padding: 0 0.2em 0 0.2em;
  background: white;
}

form {
  margin: 1em 0 1em 0;
}

input[type="text"] {
  width: 12em;
}

input[type="number"] {
  width: 3em;
}

textarea {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 0.5em 0 0.5em 0;
  resize: vertical;
}
